.container {
  background-color: #fffffe;
}

.container p {
  color: #a7a9be;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.container img {
  width: 10%;
}
