.all {
  display: flex;
}

.container {
  background: linear-gradient(180deg, #0f0e17 10%, black 53%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container header {
  align-items: center;
  color: white;
  display: flex;
  gap: 30px;
  height: 100%;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.container header img {
  height: 160px;
  width: 160px;
}

.container h1 {
  font-size: 70px;
}

/* .container p {
  color: #a7a9be;
} */

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

/* .container img {
  width: 10%;
} */
