.container {
  background-color: #fffffe;
}

.container form {
  background-color: #fffffe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.container article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container aside {
  border: 1px solid black;
  width: 20%;
}

.container section p {
  display: flex;
  justify-content: center;
  padding: 20px;
}
