.container {
  background-color: #fffffe;
}

.container form {
  background-color: #fffffe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.container article {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.container aside {
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
}

.container aside img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}

.container section p {
  display: flex;
  justify-content: center;
  padding: 20px;
}
