.container {
  background: linear-gradient(180deg, #0f0e17 10%, black 53%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.albumEmpty {
  align-items: center;
  background: linear-gradient(180deg, #0f0e17 10%, black 53%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 30px;
  width: 100%;
}

.all {
  display: flex;
  height: 100%;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.container article {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.container aside {
  border-radius: 5px;
  width: 200px;
}

.container aside:hover {
  border: 1px solid black;
}

.container aside img {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 160px;
  justify-content: center;
  margin: 0 auto;
  width: 160px;
}

.container section p {
  align-self: start;
  display: flex;
  padding: 20px;
}

.container section h1 {
  align-self: start;
  color: white;
  display: flex;
  padding: 20px;
}

.container .albumEmpty, form input {
  border: 0;
  border-radius: 500px;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  height: 20px;
  padding: 6px 48px;
}

.container article p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
