.container {
    display: flex;
    justify-content: space-around;
    background-color: #0f0e17;
    height:10vh;
    align-items: center;
}

.container nav {
    display: flex;
    gap: 10px;
}

.container a {
    color: #fffffe;
}

.container h1 {
    font-size: 40px;
    color: #fffffe;
}

.container p {
    font-size: 40px;
    color: #fffffe;
}