.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container p {
  color: white;
}

.container section {
  display: flex;
}

.container label {
  margin-top: 5px;
}

.container label input {
  display: none;
}

.checked {
  color: red;
  cursor: pointer;
}

.notChecked {
  color: white;
  cursor: pointer;
}

audio {
  border-radius: 90px;
  height: 45px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100vh;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: rgb(90, 86, 86);
}
